<!DOCTYPE html>
<html>
    <head>
        <title>Aurora Panels Simulator</title>
        <script src="scripts/jquery-3.1.1.min.js"></script>
        <script src="scripts/jquery.signalR-2.2.1.min.js"></script>
        <script src="signalr/hubs"></script>
    </head>
    <body>
        <svg viewBox="-500 -500 1000 1000" transform="scale(1 -1)"> 
            @foreach (var p in AuroraSim.AuroraController.Instance.Layout)
            {
                <polygon id="panel-@p.Id" transform="translate(@p.X @p.Y) rotate(@p.R)" points="0,86 -75,-44 75,-44" />
            }
        </svg>
        <script>
            $(() =>
            {
                $.connection.rendererHub.client.paint = (frame) =>
                {
                    for (p of frame)
                    {
                        $(`#panel-${p.Id}`).css('fill', `rgb(${p.R}, ${p.G}, ${p.B})`);
                    }
                }
                $.connection.hub.start();
            });
        </script>
    </body>
</html>
